[submodule "IFSL-dashboard"]
	path = IFSL-dashboard
	url = https://github.com/john-ngugi/IFSL-dashboard
[submodule "krcs"]
	path = krcs
	url = https://github.com/joshua20/-krcsdashboard
[submodule "kcrsboard"]
	path = kcrsboard
	url = https://github.com/joshua20/-krcsdashboard.git
